

<header id="header" class="transparent-header @(ViewBag.Landing == true ? "floating-header" : "no-sticky dark")">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="#" class="standard-logo" data-dark-logo="/Content/Assets/images/logo-dark.png"><img src="/Content/Assets/images/logo.png" alt="Canvas Logo"></a>
                <a href="#" class="retina-logo" data-dark-logo="/Content/Assets/images/logo-dark@2x.png"><img src="/Content/Assets/images/logo@2x.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">

                <ul>
                    <li @*class="current"*@>
                        <a href="#">
                            <div>Company</div>
                        </a>
                    </li>
                    <li>
                    <a href="#">
                        <div>Services</div>
                    </a>
                        <ul>
                            <li>
                                <a href="/Services/@Website.Models.ViewModels.ServiceViewConstants.UiUxDesign">
                                    <div>
                                        UI/UX Design
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#"><div>
                                    Software Dev
                                </div></a>
                                <ul>
                                    <li><a href="/Services/@Website.Models.ViewModels.ServiceViewConstants.WebDev"><div>Web Development</div></a></li>
                                    <li><a href="#"><div>Mobile App Dev</div></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><div>
                                    Enterprise Solutions
                                </div></a>
                            </li>

                            <li>
                                <a href="#">
                                    <div>
                                        E-Marketing
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#"><div>
                                    Business Solutions
                                </div></a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        Automation Process
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <div>Case Studies</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>Blog</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>Contact</div>
                        </a>
                    </li>
                </ul>
                
            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->