@{
    var bg = "background: url('"+ ViewBag.PageSliderImage+"') no-repeat; background-size: cover";
}

<section id="slider" class="slider-element slider-parallax" style="@bg" data-height-xl="400" data-height-lg="350" data-height-md="300" data-height-sm="250" data-height-xs="200">
    <div class="slider-parallax-inner">

        <div class="container clearfix">
            <div class="vertical-middle dark center">

                <div class="heading-block nobottommargin center">
                    @if (ViewBag.PageSliderTitle != null)
                    {
                        <h1>@ViewBag.PageSliderTitle</h1>
                    }
                    else
                    {
                        <h1>
                            <span class="text-rotater nocolor" data-separator="|" data-rotate="flipInX" data-speed="3500">
                                Canvas makes your Business
                                <span class="t-rotate">
                                    Simple|Customizable|Flexible|Easy|Profitable
                                </span>
                            </span>
                        </h1>
                        <span class="d-none d-md-block">
                            Learn how to grow your Awesome idea into a successful business.
                        </span>
                    }
                </div>
                @if (ViewBag.PageSliderButtonText != null && ViewBag.PageSliderButtonLink != null)
                {
                    <a href="@ViewBag.PageSliderButtonLink" class="button button-border button-light button-rounded button-reveal tright button-large topmargin d-none d-md-inline-block">
                        <i class="icon-angle-right"></i>
                        <span>@ViewBag.PageSliderButtonText</span>
                    </a>
                }

            </div>
        </div>
    </div>
</section>
